<ion-content>
  <div
    class="d-flex justify-content-around align-items-center"
    style="
      border-bottom: 4px solid #fff;
      box-shadow: 0px 2px 4px #000;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    "
  >
    <ion-icon style="font-size: 7rem" name="calendar-outline"></ion-icon>
    <div style="color: #fff; padding: 0 1rem; text-shadow: 1px 1px 1px #000">
      <p style="text-align: center; font-size: 2.3rem; font-weight: bolder">
        {{currentMonth}}
      </p>
      <p style="text-align: center; font-size: 2.3rem; font-weight: bolder">
        {{currentYear}}
      </p>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p
          style="
            text-align: center;
            font-size: 2rem;
            margin-bottom: 1rem;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
            background: rgba(0, 0, 0, 0.15);
            box-shadow: 0px 2px 4px #000;
          "
        >
          Gastos por Caterogía
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <canvas #canvas></canvas>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
